body {
    font-family: roboto, sans-serif;
    background-color: #1F2937;
}

a {
    font-size: 14px;
    text-decoration: none;
    color: #E5E7EB;
  }

img {
    width: 150px;
    height: 150px;
 }

button {
    background: #3882F6;
    color: #E5E7EB;
    border-radius: 15%;
}

.header {
    height: auto;
    background: #1F2937;
    color: #E5E7EB;
    padding: 0 16px;
    font-size: 24px;
    font-weight: 900;
    display: flex;
    align-items: center; 
    justify-content: space-between;   
  }

  .top {
    height: auto;
    background: #1F2937;
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 900;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .top-left {
    display: flex;
    flex-direction: column;
  }

  .top-subtext {
    color: #F9FAF8;
    font-size: 16px;
    opacity: 85%;
  }

  #circle {
    width: 300px;
    height: 300px;
  }

  .middle {
    height: auto;
    color: #1F2937;
    background-color: #F9FAF8;
    font-weight: 900;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .image #middle-image {
    border-radius: 7%;
    border: 2px solid #3882F6;
    
  }

  .info-images {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }

  .bottom-middle {
    height: auto;
    background: #E5E7EB;
    color: #1F2937;
    font-size: 36px;
    font-style: italic;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  #author {
    display: flex;
    justify-content: right;
    text-align: right; 
    font-size: medium; 
    font-weight: 900;
  }

  .action {
    background: #3882F6;
    color: #E5E7EB;
    display: flex;
    border-radius: 5px;

  }

  .bottom {
    height: auto;
    color: darkmagenta;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .footer {
    height: 72px;
    background: #1F2937;
    color: #E5E7EB;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
  }